* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}



.home-container1 {
  width: 100%;
  height: 600px;
  background-color: rgb(95, 55, 133);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  flex-direction: column;
  gap: 100px;
  margin-top: 15px;
  padding: 10px;
}

.box-1 {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.color-con > h1 {
  font-size: 120px;
  font-weight: bolder;
}

.nature-info > h3{
    text-align: center;
}

.box-2 {
  width: 100%;
  height: fit-content;
}

.box-2 > p {
  font-size: 35px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: rgb(122, 214, 122);
  margin-top: 80px;
  border: none;
  margin-left: 5px;
}

.color-con {
  width: 36%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.nature-container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  margin-top: 100px;
  column-gap: 10px;
  row-gap: 10px;
}

.nature-container > .nature-info {
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  color: black;
}

.nature-info > img {
  width: 100%;
  height: 100%;
}

.mother-nature {
  width: 100%;
  height: fit-content;
  padding: 0px 2px;
  margin-top: 200px;
}

.theme-con {
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  padding: 10px;
  color: black;
  margin-top: 17px;
}

.moretheme{
    width: 100%;
    height: fit-content;
    
}

.premium-con{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 100px;
    flex-direction: column;
}

@media screen and (max-width:650px) {
  .home-container1 {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
}

.color-con{
   display: none;
}

.color-con > h1 {
      text-align: center;
      font-size: 30px;
    
  }

  .dot{
    display: none;
     
  }

  .box-2 > p {
    font-size: 17.5px;
    text-align: center;
  }

  .theme-con{
    width: 100%;
  }

  .theme-con > h1{
    font-size: 10px;
  } 

  .nature-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 9fr);
  }

  
  .premium-con{
    width: 100%;
    height: fit-content;
    padding:0px 10px;  
  }

}

@media screen and (max-width:768px) {
  .color-con{
    width: 63%;
    
  }
  
}

  


.simplicity-con{
    width: 90%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto;
    color: black;
    padding: 10px;
}

.simplicity-info > img{
    width: 100%;
    height: 100%;
    
}

.simplicity-info{
    width: 100%;
    height: 200px;
    padding: 10px;
}

@media screen and (max-width:650px) {
    .simplicity-con{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
    }

    .simplicity-info{
        width: 100%;
        height: fit-content;
    }

    .mother-simplecon{
      width: 100%;
    }
}

.footer-container1{
  width: 100%;
  height: 200px;
  background-color: rgb(95, 55, 133);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  margin-top: 60px;

}

.foot-linkcon{
  display: flex;
  gap: 5px;
  margin-top: 10px;
  width: 80%;
}

.foot-link{
  color: grey;
  text-decoration: none;
  background-color: rgb(204, 170, 237);
  width: 100%;
  text-align:center;
  font-size: 14px;
}

.foot-link:hover{
  color: white;
}

@media screen and (max-width:650px) {
  .footer-container1{
    width: 100%;
   
    height: fit-content;
    gap: 15px;
  }
  
  .foot-linkcon{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    padding: 10px;
  }
  
  
  
  .foot-link{
    font-size: smaller;
  }
}


.premium-linkcon{
  width: 100%;
  height: fit-content;
  gap: 10px;
  padding:0px 45px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-box{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  color: white;
}

.premium-linkcon ul li {
  color: black;
  font-size: 15px;
  line-height: 23px;
}

.premium-linkcon ul li .prem-link{
  color:cornflowerblue;
}


@media screen and (max-width:650px) {
  .premium-linkcon{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 4fr);
  }

  .link-box{
    width: 100%;
  }
  
}




  

